* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #fafafa;
    --secondary-color: #424242;
    --divider-color: #757575;
    --primary-text-color: #424242;
    --secondary-text-color: #212121;
    --link-text: 'Montserrat', sans-serif;
    --paragraphs: 'Lato', sans-serif;
    --headings: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
    font-family: var(--paragraphs);
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1000;
    padding: 0 1rem;
    border-bottom: 1px solid var(--divider-color);
}

a {
    text-decoration: none;
    color: var(--primary-text-color)
}

h2 {
    font-family: var(--headings);
}

.heroheading {
    font-family: var(--headings);
    font-weight: bold;
    color: #66bb6a;
    text-shadow: 0 1px 2px black;
}

header ul {
    display: flex;
    list-style-type: none;
}
header ul li {
    padding: 1em
}
header ul li a{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-text-color)
}

header ul li:hover, header ul li a:hover {
    background-color: var(--primary-text-color);
    transition: background-color 0.1s ease-in;
}

header ul li a:hover {
    color: var(--background-color);
    cursor: pointer;
    transition: color 0.3s ease-in;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 50px;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-container {
    flex-basis: 25%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    height: 50vh;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    flex-basis: 40%;
    flex-grow: 1;
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 8px;
    box-shadow: 2px 2px 2px grey;
}

.about-content h3 {
    font-family: var(--headings);
}

#news {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#news h2 {
    margin: 2rem;
    font-size: 2.5rem;
    color: #66bb6a;
    text-shadow: 0 1px 2px black;
}

.news-card {
    display: flex;
    flex-direction: row-reverse;
    background-image: linear-gradient(120deg, #e8f5e9, #66bb6a);
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px grey;
}

.news-card-middle {
    display: flex;
    background-image: linear-gradient(240deg, #e8f5e9, #66bb6a);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px grey;
}

.news-image-container img {
    height: 30vh;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 8px;
}

.news-content {
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: center;
    gap: 1rem;
    min-width: 300px;
    margin: 1rem;
}

.news-content button {
    border: 1px solid var(--divider-color);
    background-color: #ffca28;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    align-self: flex-end;
}

.news-content button:hover {
    cursor: pointer;
    background-color: var(--primary-text-color);
    color: var(--background-color);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

#members {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
    width: 100%;
}

#members h2 {
    font-family: var(--headings);
    color: #66bb6a;
    text-shadow: 0 1px 2px black;
    font-size: 2.5rem;
}

.member-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.member-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px grey;
}

.member-card img {
    height: 30vh;
    border-radius: 8px;
    margin: 1rem;
}

.member-card figcaption {
    padding-bottom: 1rem;
    margin: 0 1rem;
}

#strains {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-image: linear-gradient(45deg, #e8f5e9, #66bb6a);
    border-top: 1px solid var(--divider-color);
}

#strains h2 {
    font-family: var(--headings);
    color: #ffca28;
    text-shadow: 0 1px 2px black;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}
.strain-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.strains-cards {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    text-align: center;
    padding: 1rem;
}

.strains-cards h4{
    font-weight: bold;
}

.strains-cards img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.strains-cards p {
    margin: 0.5rem;
    font-size: 0.75rem;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 2rem;
}

#contact a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: white;
    height: 80px;
    border-top: 1px solid var(--divider-color)
}

@media only screen and (max-width: 700px) {
    header {
        display: flex;
        justify-content: center;
    }
    
    .heroheading {
        display: none;
    }

    .about-section {
        display: flex;
        flex-direction: column;
    }
    .image-container img {
        height: 30vh;
    }
    .news-card {
        display: flex;
        flex-direction: column;
        margin: 0 2;
        align-items: center;
    }

    .news-card-middle {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;

    }

    .news-content {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    header {
        display: flex;
        font-size: 0.9rem;
        transition: font-size 0.3s ease-in-out;
        height: 60px;
    }

    header ul li {
        padding: 0.7rem;
    }

    #about {
        padding-top: 80px;
    }

    #news h2 {
        font-size: 1.75rem;
        transition: font-size 0.3s ease-in-out;
    }

    .news-content {
        min-width: 150px;
        align-items: center;
        text-align: center;
    }

    .news-content button {
        align-self: center;
    }

    #members h2 {
        font-size: 1.75rem;
        transition: font-size 0.3s ease-in-out;
    }

    #strains h2 {
        font-size: 1.5rem;
        transition: font-size 0.3s ease-in-out;
    }

    .strains-cards {
        min-width: 200px;
    }

    #contact {
        align-items: center;
    }
}